<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proy_mobile2024">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyMobile2024"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config">


        <!-- DetalleProductoActivity -->
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleProductoActivity"
            android:exported="false" />

        <!-- GaleriaProductosActivity -->
        <activity
            android:name=".GaleriaProductosActivity"
            android:exported="false" />

        <!-- LandingActivity: Pantalla inicial -->
        <activity
            android:name=".LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
          <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="demo"
                    android:host="dev-8sbfkudmbgtmvw2a.us.auth0.com"
                    android:pathPrefix="/android/com.example.proy_mobile2024/callback" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.auth0.android.provider.AuthenticationActivity"
            android:exported="true"
            tools:replace="android:exported" />

        <meta-data
            android:name="com.auth0.client_id"
            android:value="sbIAeWFgwDvAziopRlM1gczznHltFHnK" />
        <meta-data
            android:name="com.auth0.domain"
            android:value="dev-8sbfkudmbgtmvw2a.us.auth0.com"/>

    </application>
</manifest>

